h1 {
  text-align: center;
  font-size: 1.5em;
  color: #000;
  margin-bottom: .3em;
}

img {
  float: left;
  
}

#p1 {
   padding-bottom: 10em;
}


h2 {
	text-align: center;
   font-size: 1.3em;
  color: #000;
}


 

